.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  z-index: 1000;
  background-color: white;
  margin: 1rem;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  opacity: 1;
  border: 1px solid #e9ecef;
}

.header,
.description {
  padding: 1.5rem 1rem;
}
.header h5 {
  margin: 0;
}
.btnClose {
  width: 1rem;
  cursor: pointer;
}
hr {
  margin: 0;
}

.description {
}
